body {
  background: #343a40;
}

.input-group {
  background: white;
  border: 1px solid white;
  border-radius: 5px;
}

.input-group > span,
select,
.form-control {
  color: white;
  font-weight: 600;
}

.input-group > span {
  background: #343a40;
}

.input-group > select,
.form-control,
input[type="text"]:disabled {
  background: #6c757d;
}

.card {
  margin-top: 10px;
  margin-bottom: 16px;
  border: white;
}

.card-header {
  background: #252525;
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.card-body {
  background: #252525;
  color: white;
}
